@import "bourbon";
@import "neat";

.thumbnail-control {
    margin-top: 15px;
    height: 100px;
    .leftarrow{
      @include  span-columns(1);
      @include omega;
      font-size: 35px;
      cursor: pointer;
      margin-right: -4px;
    }
    .rightarrow{
      @include  span-columns(1);
      @include omega;
      font-size: 35px;
      cursor: pointer;
      margin-left: 9px;
    }
}
