{
  "extends": [
    "google",
    "plugin:react/recommended"
  ],
  "globals": {
    "window": true,
    "document": true,
    "URL": true
  },
  "rules": {
    "quotes": 1,
    "max-len": [1, 150],
    "operator-linebreak": [1, "before"],
    "no-loop-func": [0],
    "no-debugger": 1,
    "no-return-assign": "off",
    "linebreak-style": "off",
    "no-case-declarations": "off"
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "spread": true
    }
  }
}
