{
  "parser": "babel-eslint",
  "extends": [
    "google",
    "plugin:react/recommended"
  ],
  "globals": {
    "window": true,
    "document": true,
    "URL": true
  },
  "rules": {
    "quotes": ["warn", "double"],
    "max-len": [1, 150],
    "operator-linebreak": [1, "before"],
    "no-loop-func": [0],
    "no-debugger": 1,
    "no-return-assign": "off",
    "linebreak-style": "off",
    "no-case-declarations": "off",
    "comma-dangle": 0,
    "arrow-parens": 0,
    "require-jsdoc": ["warn", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true,
            "ArrowFunctionExpression": true
        }
    }]
  },
  "plugins": [
    "react"
  ],
  "parser-options": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "spread": true
    }
  }
}
