@import "bourbon";
@import "neat";
@import "vars";
@import "mixins";

.lecture-item {
  display: block;
  cursor: pointer;

  &.compact {
    display: inline-block;
    @include gridResponsive();
  }

  a {
    text-decoration: none;
    color: $body-color;

    .thumbnail {
      width: 100%;
      height: $lecture-thumbnail-height;
      background: #fff;
      border: 1px solid $steel-color;
      border-radius: $border-radius;
      display: inline-block;
      @include transition();
    }

    h5 {
      margin: 5px 0 0 0;
      @include transition();
    }
    h6 {
      margin: 0;
    }
  }

  &:hover {
    .thumbnail { border-color: $blue-color; }
    h5 { color: $blue-color; }
  }

  &:active {
    .thumbnail { border-color: darken($blue-color, 20); }
    h5 { color: darken($blue-color, 20); }
  }
}
