<!DOCTYPE html>
<html>
  <head>
    <title>Hello React</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="content" title="Login to Lecture Viewer"><p>Enter NetID and Password to login</p>
	<hr />
	<div id="loginFormContainer"></div>
	</div>
	<script type="text/jsx">
	  var LoginForm = React.createClass({
		login : function(data){
			$.ajax({
			  url : this.props.loginURL,
			  contentType: 'application/x-www-form-urlencoded',
			  type : 'POST',
			  data : data,
			  success : function(data){
				// for now, use the webtoken as URL
				console.log(window.location+data.token);
				window.location += data.token;
			  }.bind(this),
			  error : function(xhr, status, err) {
				console.error(this.props.loginURL, status, err.toString());
			  }.bind(this)
			});
		},
		handleOnSubmit : function(e){
				e.preventDefault();
				var NetID = React.findDOMNode(this.refs.NetID).value.trim();
				var password = React.findDOMNode(this.refs.password).value.trim();
				if (!NetID || !password){
					// TODO : Add reminder to highlight unfilled fields
					this.setState({prompt : "Please enter NetID and Password."})
					return;
				}
				this.setState({prompt : ""});
				this.login({NetID : NetID, password : password});
				// TODO : Build route to actually authenticate
		},
		getInitialState : function(){
			return {prompt : ""};
		},
		render : function(){
			return (
				<form className="loginForm" onSubmit={this.handleOnSubmit}>
				  <p className="prompt">{this.state.prompt}</p>
				  <input type = "text" placeholder="NetID" ref="NetID" />
				  <br />
				  <input type = "password" placeholder="Password" ref = "password" />
				  <input type="submit" value = "Login" />
				</form>
			)
		}
	  });
	  React.render(
		<LoginForm loginURL = "http://localhost:8080/api/authenticate"/>,
		document.getElementById('loginFormContainer')
	  );
	</script>
 </body>
</html>
