<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lecture Viewer do Kapiroto</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
    <script src="/stylesheets/bootstrap.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch" async defer></script>
  </head>
  <body>
    <section id="lvapp"></section>
    <script src="javascripts/bundle.js"></script>
  </body>
</html>
