@import "vars";
@import "mixins";

.login-page {
  background: url(/images/login_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;

  .login-wrap {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(20, 25, 31, .1);
    border-radius: $border-radius;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 35px 0;

    .login-form-header {
      margin-bottom: 3.125vw;

      .divider {
        display: inline-block;
      }

      & > span {
        font-size: 20px;
      }

      & > img {
        width: 135px;
      }

      & > * {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      @include mobile {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        margin-bottom: 6.25vw;

        .divider {
          display: none;
        }

        & > img {
          margin-top: 5px;
        }

        & > * {
          margin: 0 5vw;

          &:last-child {
            margin: inherit;
            margin-top: 1vh;
          }
        }
      }
    }

    form {
      button {
        margin-top: 15px;
      }
    }
  }
}
