<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lecture Viewer</title>

    <!-- Polyfills -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet">

    <!-- Styles -->
    <link href="css/app.min.css" rel="stylesheet">
    
  </head>
  <body>
    <section id="lvapp"></section>
    <script src="app/bundle.js"></script>
    <!-- Local imports -->
  </body>
</html>
