<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lecture Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Polyfills -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">

    <!-- Styles -->
    <link href="/css/app.min.css" rel="stylesheet">
    
  </head>
  <body>
    <section id="lvapp"></section>
    <script src="/app/bundle.js"></script>
    <!-- Local imports -->
  </body>
</html>
