@import "bourbon";
@import "neat";
.thumbnail {
    @include span-columns(2);
    .thumb {
        width: 90px;
        height: 50px;
        border-radius: 4px;
        background-color: #32404e;
        background-color: var(--dark-grey-blue-two);
        border: solid 1px #fafafa;
        border: solid 1px var(--white);
    }
}
