@import "bourbon";
@import "neat";
.thumbnail {
    @include span-columns(2);
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
    .thumb {
        width: 102px;
        height: 77px;
        border-radius: 4px;
        background-color: #32404e;
        background-color: var(--dark-grey-blue-two);
        border: solid 1px #fafafa;
        border: solid 1px var(--white);
    }
}
