#content
{
	position:absolute;
	width:300px;
	height:200px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-100px 0 0 -150px;

}
.dialogUnderlay
{
	position : absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	top:0;
	left:0;
	align-content: center;
	background-color: rgba(0,0,0, .8);
}
.dialogUnderlay .dialogBox
{
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	resize : both;
	position : relative;
	width : 60%;
	height : 85%;
	align-content: center;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 2%;
	background-color: rgba(255,255,255, 1);
}
.ClassList
{
	float : left;
	margin-right : auto;
}
.LectureList
{
	float : left;
	margin-left: auto;
}
.FeedViewWrapper
{
	margin-right:10%;
	margin-left:5%;
}
#contentWrapper
{
	position: relative;
	width : 600px;
	height : 800px;
	top: 5%;
	left : 10%;
}
#leftcontent
{
	float:left;
}
#centerContent
{
	float:right;
}
