@mixin transition($duration: 0.1s){
  -webkit-transition: all $bezier $duration;
  transition: all $bezier $duration;
}

@mixin globalPadding(){
  padding: $global-padding;
}

@mixin verticalAlign() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}