// Main Color Scheme
$body-color: #14191f;

// Other Colors
$border-color: #d9d8d7;
$blue-color: #3ba5db;
$accent-color: #ff6a00;
$light-gray-color: #ececec;
$steel-color: #828c9a;

// Base styles
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$border-radius: 5px;

// Misc
$bezier: cubic-bezier(.43,.84,.79,.99);
$global-padding: 15px 20px;

// Lectures
$lecture-thumbnail-height: 150px;

// Media Query
$md-break-width: 961px;
$sm-break-width: 521px;
