// Main Color Scheme
$body-color: #14191f;

// Other Colors
$border-color: #d9d8d7;
$blue-color: #3ba5db;
$accent-color: #ff6a00;
$light-gray-color: #ececec;

// Base styles
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$border-radius: 5px;

// Misc
$bezier: cubic-bezier(.43,.84,.79,.99);

