// Colors
$dark-grey-blue: #2c3e50;
$dark-sky-blue-50: rgba(52, 151, 219, 0.5);
$deep-lavender-50: rgba(155, 89, 182, 0.5);
$greenish-teal-50: rgba(46, 204, 113, 0.5);
$tomato-50: rgba(231, 75, 59, 0.5);