@import "vars";
@import "mixins";

.header {
  background-color: rgba(255, 255, 255, 0.95);
  @include globalPadding();
  color: $body-color;
  border-bottom: 1px solid $border-color;
  height: $header-height;

  a {
    color: $body-color;
    text-decoration: none;
    @include transition();

    &:hover { color: $blue-color; }
    &:active { color: darken($blue-color, 20); }
  }
}