@import "vars";
@import "mixins";

.header {
  background-color: rgba(255, 255, 255, 0.95);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: $body-color;
  border-bottom: 1px solid $border-color;
  height: $header-height;
  display: flex;

  a {
    color: $body-color;
    text-decoration: none;
    @include transition();

    &:hover { color: $blue-color; }
    &:active { color: darken($blue-color, 20); }

  }

  & > * {
    flex-grow: 1;
  }
  button{
    padding-left: 10px;
  }

  .left { text-align: left; }
  .right { text-align: right; }
}
