@import "bourbon";
@import "neat";
@import "vars";
@import "mixins";

.instructor-course-item {
  .rectangle-big {
	  width: 671px;
	  height: 400px;
	  background-color: rgba(255, 255, 255, 0.8);
	  border: solid 1px #d9d8d7;
    .course-header {
      white-space: nowrap;
      padding-left: 25px;
      padding-top: 19px;
      padding-bottom: 19px;
    	width: 321px;
    	height: 27px;
    	font-family: OpenSans;
    	font-size: 20px;
    	font-weight: 600;
    	font-style: normal;
    	font-stretch: normal;
    	line-height: normal;
    	letter-spacing: normal;
    	color: #14191f;
    	color: var(--dark);
    }
    .course-title {
      white-space: nowrap;
      padding-left: 25px;
      padding-top: 19px;
      padding-bottom: 16px;
      width: 92px;
      height: 19px;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #32404e;
      color: var(--dark-grey-blue-two);
    }
    input[name="course-title-text"] {
      font-size: 20px;
      height: 40px;
      width: 600px;
      margin: 8px 0;
      margin-left: 25px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    textarea[type=text], select {
      width: 600px;
      height: 149px;
      padding: 9px;
      margin: 8px 0;
      margin-left: 25px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: none;
    }
    ::-webkit-input-placeholder {
      padding-top: 5px;
    }
    .enrolled-users {
      white-space: nowrap;
      padding-left: 25px;
      padding-top: 19px;
      padding-bottom: 16px;
      width: 117px;
	    height: 19px;
	    font-family: OpenSans;
	    font-size: 14px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: normal;
	    color: #32404e;
      color: var(--dark-grey-blue-two);
    }
    .users-list {
      width: 760px;
	    height: 541px;
	    border-radius: 2px;
	    border: solid 1px #32404e;
	    border: solid 1px var(--dark-grey-blue-two);
    }
  }
}
