@import "vars";
@import "mixins";

// all app-wide styles

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
}

// forms
.input-group {
  // margin-bottom: 16px;
}

input, button, a.button {
  font-size: 14px;
  // padding: 6.5px 8px;
}

input {
  padding: 6px 8px;
  padding-left: 24px;
  border-radius: $border-radius;
  color: $body-color;
  border: none;
  width: 192px;
  height: 32px;
  @include transition();
  background-repeat: no-repeat;
  background-position: left;

  &[type="text"] {
    background-image: url("/images/user-bg.png");
    background-size: 12px 14.4px;
  }

  &[type="password"] {
    background-image: url("/images/pw-bg.png");
    background-size: 10px 13.3px;
  }

  &:focus {
    // border-color: $body-color;
    outline: none;
  }
}

.input-divider {
  width: 192px;
  height: 1px;
  background-color: $light-gray-color;
  text-align: center;
  margin: auto;
}

// links
a {
  &.button {
    @extend button;
    display: inline-block;
    text-decoration: none;
    padding: 6px 8px;
    &.forgot {
      margin-top: 16px;
    }
  }
}

// buttons
button {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  height: 32px;
  width: 192px;
  margin-bottom: 8px;
  border-radius: $border-radius-button;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  @include transition();

  &:focus {
    outline:none;
    border-color: darken(#e2e2e2, 50);
  }

  &:hover {
    background: #f7f7f7;
  }

  &:active {
    background: #ececec;
  }

  &.accent {
    background: $accent-color;
    color: #fff;
    border-color: $accent-color;

    &:focus {
      //border-color: darken($accent-color, 20);
    }
    &:hover {
      background: darken($accent-color, 0);
    }
    &:active {
     background: darken($accent-color, 2);
    }

    &.outline {
      color: $accent-color;

      &.login {
        &::after {      // Chevron login button icon
          font-family: fontAwesome;
          content: "\f054\00a0";
          float: right;
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 12px;
        }

        &::before {     // Janky fix to center the button text
          font-family: fontAwesome;
          content: "\f054\00a0";
          float: left;
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 12px;
          opacity: 0;
        }
      }

      &:hover {
        color: #fff;
      }
    }

    &:disabled {
      pointer-events: none;
      border-color: gray;
      color: gray;
    }
  }

  &.outline {
    background: transparent;
  }

  &.small {
    border: none;
    background: transparent;
    padding:0;

    &:focus {
      color: darken($blue-color, 20);
    }
    &:hover {
      color: darken($blue-color, 5);
    }
    &:active {
      color: darken($blue-color, 10);
    }
  }

  &.header-button {
    border: none;
    background: transparent;
    padding: 0;
    padding-left: 32px;
    line-height: normal;
    color: $steel-color;
    width: auto;
    height: 100%;
    & a {
      color: inherit;
    }
    &:focus {
      color: $body-color;
    }
    &:hover {
      color: $body-color;
    }
    &:active {
      color: $body-color;
    }
  }
}

// text

//Page Title
h1 {
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

//Media Page - Subtitle
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: $steel-color;
  margin: 0;
}

//Course Page - Course Title
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $steel-color;
  vertical-align: top;
}

//Course Page - Item Caption
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: $body-color;
  vertical-align: top;
}

h6 {
  font-weight: normal;
  font-size: 16px;
  color: $steel-color;
}
