@import "vars";
@import "mixins";

// all app-wide styles

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
}

// forms
.input-group {
  margin-bottom: 16px;
}

input, button, a.button {
  font-size: 14px;
  // padding: 6.5px 8px;
}

input {
  padding: 6.5px 8px;
  border-radius: $border-radius;
  color: $body-color;
  border: 1px solid $light-gray-color;
  width: 192px;
  height: 32px;
  @include transition();

  &:focus {
    border-color: $body-color;
    outline: none;
  }
}

// links
a {
  &.button {
    @extend button;
    display: inline-block;
    text-decoration: none;
  }
}

// buttons
button {
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  height: 32px;
  width: 96px;
  border-radius: $border-radius-button;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  padding-top: 3px;
  @include transition();

  &:focus {
    outline:none;
    border-color: darken(#e2e2e2, 50);
  }

  &:hover {
    background: #f7f7f7;
  }

  &:active {
    background: #ececec;
  }

  &.accent {
    background: $accent-color;
    color: #fff;
    border-color: $accent-color;

    &:focus {
      border-color: darken($accent-color, 20);
    }
    &:hover {
      background: darken($accent-color, 0);
    }
    &:active {
     background: darken($accent-color, 10);
    }

    &.outline {
      color: $accent-color;

      &:hover {
        color: #fff;
      }
    }

    &:disabled {
      pointer-events: none;
      border-color: gray;
      color: gray;
    }
  }

  &.outline {
    background: transparent;
  }

  &.small {
    border: none;
    background: transparent;
    padding:0;

    &:focus {
      color: darken($blue-color, 20);
    }
    &:hover {
      color: darken($blue-color, 5);
    }
    &:active {
      color: darken($blue-color, 10);
    }
  }
}
