@import "vars";
@import "mixins";

.lecture {
  background: $almost-black-color;
  min-height: calc(100vh - #{$header-height});
  color: #fff;

  @include globalPadding();

  h1 {
    margin-top: 24px;
    margin-bottom:0;
    padding-left: 32px;
    color: white;
  }
  h3 {
    margin:0;
    padding-left: 32px;
  }
  a {
    text-decoration: underline;
    font-size: 14px;
    color: white;
    @include transition();
  }
  a:hover {
    cursor: pointer;
  }
}
