@import "vars";
@import "mixins";

.lecture {
  background: $almost-black-color;
  min-height: calc(100vh - #{$header-height});
  color: #fff;

  @include globalPadding();
  padding-top: 0;
  h1 {
    color: white;
  }

  a {
    text-decoration: underline;
    font-size: 14px;
    color: white;
    @include transition();
  }
  a:hover {
    cursor: pointer;
  }

  .lecture-header {
    padding-left: 32px;
  }
}
