@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

.lecture-media {
    @include outer-container(90%);

    .container{
      @include span-columns(6);
      @include omega;
    }
    .video-wrapper {
        margin: 0 auto;
        width: 640px;
        height: 360px;
        background-color: $body-color;
        border: solid 1px $slate-grey;
        margin-top: 50px;
    }
    /*
    .right {
      float: right;
      margin-right: $margin-edge;
    }

    .left{
      float: left;
      margin-left: $margin-edge;
    } */
}
