@import "bourbon";
@import "neat";
@import "mixins";

.lecture-media {
    @include outer-container(90%);

    .container{
      @include span-columns(6);
      @include omega;
    }
    .video-wrapper {
        margin: 0 auto;
        width: 640px;
        height: 360px;
        border-radius: 5px;
        background-color: #32404e;
        background-color: var(--dark-grey-blue-two);
        border: solid 1px #fafafa;
        border: solid 1px var(--white);
        margin-top: 50px;
    }
    /*
    .right {
      float: right;
      margin-right: $margin-edge;
    }

    .left{
      float: left;
      margin-left: $margin-edge;
    } */
}
