@import "bourbon";
@import "neat";
@import "vars";
@import "mixins";

.course-item {
  $leftPad: 32px;
  padding-bottom: 64px;

  h4 {
    padding-left: $leftPad;
  }

  .course-link {
    margin: 0;
    margin-bottom: 10px;

    a {
      color: $body-color;
      text-decoration: none;
      @include transition();

      &:hover {
        color: $blue-color;
      }
      &:active {
        color: darken($blue-color, 20);
      }
    }
  }

  .lecture-list {
    @include outer-container;
    margin:0; //TODO: replace with omega
    max-width: none;  //TODO: replace with omega
    padding-left: $leftPad;
  }

  .color-code {
    width: 2px;
    height: 150px;
    background-color: #000;
    display: inline-block;
    float: left;
  }

  .see-all-lectures {
    height: $lecture-thumbnail-height;
    // @include gridResponsive();

    button {
      max-width: 120px;
      width: 100%;
      @include verticalAlign();
    }
  }
}
