@import "bourbon";
@import "neat";
@import "vars";
@import "mixins";

.course-item {
  .lecture-list {
    @include outer-container;
    margin:0; //TODO: replace with omega
    max-width: none;  //TODO: replace with omega
  }

  .see-all-lectures {
    height: $lecture-thumbnail-height;
    @include gridResponsive();
    
    button {
      max-width: 120px;
      width: 100%;
      @include verticalAlign();
    }
  }
}