@import "vars";
@import "mixins";

.lecture {
  background-color: $almost-black-color;
  min-height: calc(100vh - #{$header-height});
  color: #fff;

  @include globalPadding();

  h1 {
    margin-bottom:0;
  }
  h4 {
    margin:0;
    color: $steel-color;
    font-weight: 400;
  }
}