@import "bourbon";
@import "neat";
@import "vars";
.thumbnail {
    @include span-columns(2);
    text-align: center;
    cursor: pointer;
    .thumb {
        width: 90px;
        height: 50px;
        border-radius: 2px;
        background-color: $body-color;
        border: solid 1px $slate-grey;
    }
}
